{
  "env": {
    "dev": {
      "presets": ["es2015", "stage-0"],
       "plugins": [
         ["transform-runtime", {
           "polyfill": false,
           "regenerator": true
         }]
       ]
    },
    "prod": {
      "presets": ["es2015", "stage-0"],
       "plugins": [
         ["transform-runtime", {
           "polyfill": false,
           "regenerator": true
         }]
       ]
    },
    "test": {
      "presets": ["es2015", "stage-0"],
       "plugins": [
         ["transform-runtime", {
           "polyfill": false,
           "regenerator": true
         }],
        "istanbul"
       ],
      "sourceMaps": true,
      "retainLines": true
    }
  }
}